
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col col-lg-12">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/materialize/images/1.png" class="center-align responsive-img"> <!-- random image -->
                </div>
                <div class="card-content">
                <h5>
                    Hello Alfred State Students, the administration wants YOU to help with making better entertainment choices for our diverse students. Please take a minute and select one of the several entertainment choices below. Thank You for your participation!
                </h5>
                </div>
            </div>
        </div>
 </div>




        <h3 class="center-align" id="C">Comedy</h3>
        <div class="row">
            <div class="col s12 m4 l4">
                <h5 class="center-align">Donald Glover</h5>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/Content/materialize/images/2.png">
                    </div>
                    <div class="card-content center-align">

                        <a href="DonaldGloverForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <h5 class="center-align">Kevin Hart</h5>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/Content/materialize/images/3.png">
                    </div>
                    <div class="card-content center-align">
                        <a href="KevinHartForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <h5 class="center-align">Wild n' Out</h5>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/Content/materialize/images/4.png">
                    </div>
                    <div class="card-content center-align">
                        <a href="WildForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                    </div>
                </div>
            </div>


            <h3 class="center-align" id="M">Music</h3>
            <div class="row">
                <div class="col s12 m12 l4">
                    <h5 class="center-align">Drake</h5>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/Content/materialize/images/5.png">
                        </div>
                        <div class="card-content center-align">
                            <a href="DrakeForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <h5 class="center-align">Metallica</h5>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/Content/materialize/images/6.png">
                        </div>
                        <div class="card-content center-align">
                            <a href="MetallicaForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <h5 class="center-align">Usher</h5>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/Content/materialize/images/7.png">
                        </div>
                        <div class="card-content center-align">
                            <a href="UsherForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                        </div>
                    </div>
                </div>


                <h3 class="center-align" id="D">Dance</h3>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h5 class="center-align">Beach Party</h5>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/Content/materialize/images/8.png">
                            </div>
                            <div class="card-content center-align">
                                <a href="BeachForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <h5 class="center-align">DJ Foam Party</h5>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/Content/materialize/images/9.png">
                            </div>
                            <div class="card-content center-align">
                                <a href="FoamForm"><button class="waves-effect waves-light btn center-align">Choose Me!</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/materialize/init.js" type="text/javascript"></script>
        <script src="~/Scripts/materialize/materialize.min.js" type="text/javascript"></script>
        <script src="~/Scripts/materialize/materialize.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
